<div class="home-container">
  <h1>Welcome to Our Site</h1>
  <p>This is the home page of your Rails application.</p>

  <div class="content">
    <h2>Getting Started</h2>
    <p>Your Rails application is up and running! You can customize this page by editing the view file at <code>app/views/home/index.html.erb</code>.</p>
  </div>
</div>
